@import 'https://fonts.googleapis.com/css?family=Work+Sans:200&subset=latin-ext';

html, 
body {
    height:100%;
    margin:0;
    padding:0;
    font-family:work sans,Arial;
    color:white;    
}

body {
    background-color:#4d4ace;
}

h1 { 
    position: relative;
    top: 0%;  
    text-align: center;
    font-size: 70px;
}

input {
    text-align: center;
    margin-bottom: 5px; 
    width: 300px;
    height: 20px;
}

.kozepre {
    position:absolute;
    top:60%;
    margin-bottom:10%;
    left:50%;
    margin-right:-50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

.buttonregisztracio {
    background-color:#4d4ace;
    border-width: 5px;
    border-radius:5px;
    width: 300px;
    height: 40px;
    margin-top: 10px;
    font-size: 18px;
    color: black;
}

.buttonregisztracio:hover {
    background-color:#060486;
}

.container {
    width: 300px;  
    font-family:Arial;
    font-size:20px;
}